.info {
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    margin-top: 120px;
}

.banner-subtitle {
    font-size: 20px;
}


.redirect-home {
    margin-top: 70px;
}

.catalog-link {
    border-radius: 30px;
    border: 1px solid #f89e2f;
    background-color: white;
    color: black;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;
}

.catalog-link:hover {
    background-color: #f89e2f;
    color: white;
}


.wrapper {
    margin-top: 80px;
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 160px;
}

.img-home {
    width: 1920px;
    height: 800px;
    background-image: url("../../../public/background.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.home-wrapper {
    color: white;
    font-size: 120px;
    line-height: 26px;
    font-weight: 900;
    position: absolute;
    margin-top: -750px;
    margin-left: 410px;
}


.not-submitted {
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 120px;
    text-align: center;
    color: #f89e2f
}