.register-wrapper {
    margin: 60px auto 120px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    border-top: 6px solid #f89e2f;
    box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.466);
}

.register-title {
    font-size: 36px;
    color: #73726f;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    color: #73726f;
    font-size: 14px;
}


.password,
.username,
.repass,
.email {
    border: 1px solid #bfbfbf;
    border-radius: 30px;
    height: 36px;
    padding-left: 12px;
    background-color: white;
}

.form-label {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}

.login-sbt {
    background-color: #f89e2f;
    width: 50%;
    padding: 13px;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 100px;
    text-transform: uppercase;
    font-size: 16px;
}

.login-sbt:hover {
    background-color: #e67e00;
}

.redirect {
    text-align: center;
    color: #73726f;
}

.login-link {
    text-decoration: none;
    color: #f89e2f;
}

.login-link:hover {
    color: #e67e00
}